*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins', sans-serif;
overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

a{
text-decoration:none;
}

h1{
font-size:2.5rem;
font-weight:700;
}

h2{
font-size:1.8rem;
font-weight:600;
}

h3{
font-size:1.4rem;
font-weight:800;
}

h4{
font-size:1.1rem;
font-size:600;
}

h5{
font-size:1rem;
font-weight:400;
color:#1d1d1d;
}

h6{
color:#dbdbdb;
}

.navbar{
font-size:16px;
top:0;
left:0;
box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
padding:0 20px;
font-size:1.1em;
letter-spacing:1px;
color:black !important;
transition:0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover{
color:coral !important;
top:0;
left:0;
}
.navbar i:hover{
color:coral !important;
top:0;
left:0;
}

.navbar i{
font-size: 1.2rem;
padding: 0 7px;
cursor: pointer;
font-weight: 500;
transition: 0.3s ease;
}
.navbar-nav{
margin-left:auto !important;
}

.logo {
font-size: 32px;
margin: 0;
padding: 0;
line-height: 1;
font-weight: 600;
letter-spacing: 0.8px;
font-family: "Poppins", sans-serif;
}

.logo a {
color: coral;
}

.logo a span {
color: #106eea;
}

hr{
width: 40px;
height: 3px !important;
font-weight:bold;
background-color: yellow !important;
}

.card{
border-radius:5px !important;
box-shadow:0 1px 11px 0 rgba(0, 0, 0, 0.12) !important;
border: none !important;
margin-bottom: 30px;
margin-top:30px;
}
/*  Profile  */
.account-img{
height: 125px;
width:125px;
margin-right:20px;
margin-bottom:16px;
}
.account-heading{
font-size:2.5rem;
}

/* Posts */
.post-list img{
height:250px;
width:100%;
}
.post-detail img{
max-height:500px;
width:100%;
}

/**********************
footer
**********************/
.footer{
background: #121F48 !important;
background-image: url('/static/images/footer_background.png') !important;
background-size: 100% 100%;
background-position:center !important;
color:#d3d3d3;
padding-top:40px;
padding-bottom:30px;
position:relative;
}

.footer .content h1{
color:#fff;
font-size: 36px;
font-weight: 700;
line-height: 0.85;-
webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
}
.footer .content h1 span{
color: yellow;
}
.footer .quick-links, .footer .our-address{
color: #fff;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
margin-bottom: 20px;
padding-bottom: 20px;
text-transform: capitalize;
position: relative;
}
.footer .address li{
display: block;
margin-bottom: 12px;
}
.footer .links li{
display: block;
margin-bottom: 12px;
}
.footer .links li:hover{
margin-left: 8px;
}
.footer .links li a {
display: block;
color: #fff;
text-transform: capitalize;
-webkit-transition: all 0.4s ease;
-moz-transition: all 0.4s ease;
transition: all 1.4s ease;
font-size:15px;
letter-spacing:2px;
font-weight: 400;
}
.footer .links li a i {
 margin-right: 10px;
}
.footer .address li i {
 margin-right: 10px;
}
.footer .socials {
    margin-top: 25px;
}
.footer .socials li {
    display: inline-block;
    margin-right: 10px;
}